.bluerect {
    width: 943px;
    height: 150px;
    background:aqua;

    margin-bottom:10px ;

}
.redrect {
    width: 629px;
    height: 150px;
    background: brown;
margin:   10px 10px 10px 641px;
}
.greenrect {
    width: 943px;
    height: 150px;
    background: forestgreen;
    margin: 10px 168.5px 10px 168px;
}
.purplerect {
    width: 628px;
    height: 150px;
    background: blueviolet;
    margin: 10 px 642px 80px 10px;
}